.table-header:hover {
  cursor: pointer;
}

.table-header-label:hover {
  color: #635e9a;
  transition: all 0.2s ease-in-out;
}

.table-row:hover {
  cursor: pointer;
  background-color: #dbd7ff;
  transition: all 0.2s ease-in-out;
}
